<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{index.html :: head-include}">&nbsp;</th:block>
    <title>Healthy deserts recipes :: About</title>
</head>

<body>

<header th:replace="~{index.html :: header}">&nbsp;</header>
<nav th:replace="~{index.html :: leftbar}">&nbsp;</nav>
<div class="content"><a th:text="#{about}">Find healthy, delicious dessert recipes including brownies, cakes, cookies, and pie recipes. Healthier recipes, from our customers at HDR.
    We are situated in SOFIA, BULGARIA.></a>
    <br><br>

    <iframe
            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=42.6619511, 23.3533612&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    ></iframe>

    <br><br><br>
  <div class="newsletter">
        <b th:text="#{join_list}">If you want, you can join for our newsletter:</b>

        <form id="reg-form" th:method="POST" th:action="@{/about}" th:object="${emailDto}">
            <input type="email" name="email" placeholder="Enter email-address" id="email" title="Please enter a valid email" required>
            <input type="submit" name="submit1"  th:value="#{sign_up}" id="submit1">
        </form>
</div>
    </div>
<nav th:replace="~{index.html :: rightbar}">&nbsp;</nav>
<footer th:replace="~{index.html :: footer}">&nbsp;</footer>
</body>
</html>
