<!doctype html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{index.html :: head-include}">&nbsp;</th:block>
    <title>Healthy deserts recipes :: Contact</title>
</head>

<body>

<header th:replace="~{index.html :: header}">&nbsp;</header>
<nav th:replace="~{index.html :: leftbar}">&nbsp;</nav>
<div class="content">
    <span th:text="#{email}">email:</span>
            <a>info@healthydesserts.com</a>
    <form th:method="POST" th:action="@{/messages/add}" th:object="${messageDto}">
        <label for="name"><span th:text="#{contact_name}" >name</span>
            <input type="text" th:name="name" id="name" th:field="*{name}"
                   minlength="5" maxlength="30">
        </label>
        <label for="email"><span th:text="#{email}">email</span>
            <input type="email" th:name="email" id="email" th:field="*{email}"
                    title="Please enter a valid email">
        </label>
      <label for="text" ><span th:text="#{contact_message}">message</span>
            <textarea cols="20" rows="5" th:name="text" id="text" th:field="*{text}"
                      minlength="5"></textarea>
        </label>
        <input type="submit" name="submit" id="submit"  class="submit-btn" th:value="#{contact_send}">
    </form>

</div>
<nav th:replace="~{index.html :: rightbar}">&nbsp;</nav>
<footer th:replace="~{index.html :: footer}">&nbsp;</footer>
</body>

</html>