<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{index.html :: head-include}">&nbsp;</th:block>
    <title>Healthy deserts recipes :: Contact</title>
</head>

<body>

<header th:replace="~{index.html :: header}">&nbsp;</header>

<div class="content">
    <span th:text="#{email}">email:</span>
            <a href="http://www.freewebsitetemplates.com/misc/contact">info@healthydesserts.com</a>


</div>
<footer th:replace="~{index.html :: footer}">&nbsp;</footer>
</body>

</html>