<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{index.html :: head-include}">&nbsp;</th:block>
    <title>Healthy desserts recipes</title>
</head>

<body>

<header th:replace="~{index.html :: header}">&nbsp;</header>
<nav th:replace="~{index.html :: leftbar}">&nbsp;</nav>



<div class="containers-py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
           <div class="flip-card mx-auto">
                <div class="flip-card-inner">
                    <div th:object="${user}" class="flip-card-front">
                        <img src="/images/person.png" alt="Team Member" class="profile-img">
                        <h3 th:text="*{firstName}" >Jane </h3>
                        <h3 th:text="*{lastName}" >Doe</h3>
                        <p th:text="*{username}">Username</p>
                            <span class="waving-hand">👋</span>
                        <p class="mt-3" th:text="#{profile_hover}">
                        </p>
                    </div>
                    <div class="flip-card-back">
                        <h3 th:text="#{profile_edit}">EDIT USER:</h3>
                        <br>
                        <form class="main-form mt-3 mx-auto col-ms-8 col-md-6 d-flex flex-column justify-content-center"
                              th:action="@{/users/edit/{id} (id=${user.id})}"
                              th:method="POST"
                              th:object="${user}">
                        <p><label for="edit-username" th:text="#{profile_username}">Change Username:</label>
                            <input
                                    type="username"
                                    placeholder=""
                                    name="username"
                                    id="edit-username"
                                    minlength="5" maxlength="30"
                                    required
                                    th:field="*{username}"
                                    th:value="${user.username} ?: *{username}"/>
                        </p>
                            <p> <label for="edit-firstName" th:text="#{profile_firstName}">Change First name:</label>
                        <input
                                type="firstName"

                                placeholder=""
                                name="firstName"
                                id="edit-firstName"
                                minlength="3" maxlength="30"
                                required
                                th:field="*{firstName}"
                                th:value="${user.firstName} ?: *{firstName}"/>
                            </p>
                            <p> <label for="edit-lastName" th:text="#{profile_lastName}">Change Last name:</label>
                            <input
                                type="lastName"

                                placeholder=""
                                name="lastName"
                                id="edit-lastName"
                                minlength="3" maxlength="30"
                                required
                                th:field="*{lastName}"
                                th:value="${user.lastName} ?: *{lastName}"/>
                            </p>

                        <br>
                        <div class="buttons">
                            <button onclick="history.back()" class="btn btn-outline-primary px-4" th:text="#{profile_back}">BACK</button>
                            <!--                            <button class="btn btn-primary px-4 ms-3">Contact</button>-->
                            <button class="btn btn-outline-primary px-4" th:text="#{profile_save}">SAVE</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <nav th:replace="~{index.html :: rightbar}">&nbsp;</nav>
<footer th:replace="~{index.html :: footer}">&nbsp;</footer>
</body>

</html>