<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{index.html :: head-include}">&nbsp;</th:block>
    <title>Healthy_desserts_recipes :: Registration</title>
</head>

<body>

    <header th:replace="~{index.html :: header}">&nbsp;</header>

    <nav th:replace="~{index.html :: leftbar}">&nbsp;</nav>
    <div th:if="${username}" class="content">
        Congratulations, <th:block th:text="${username}"></th:block>!
        your registration was successful.
        You can log in <a th:href="@{/login}">here</a>!
    </div>
    <div th:unless="${username}">
        <a th:href="@{/login}" th:text="#{registration_confirm}">here</a>
    </div>
    <nav th:replace="~{index.html :: rightbar}">&nbsp;</nav>

    <footer th:replace="~{index.html :: footer}">&nbsp;</footer>

</body>

</html>