<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta id="csrf" hidden th:name="${_csrf.getHeaderName()}" th:value="${_csrf.getToken()}">
    <meta id="recipe-id" hidden th:name="${id}" th:value="${recipeViewModel.id}">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:insert="~{index.html :: head-include}">&nbsp;</th:block>
    <title th:text="${recipeViewModel.title} + ' by ' + ${recipeViewModel.author.username}"></title>

</head>

<body>

<header class="header-area" th:replace="~{index.html :: header}">&nbsp;</header>
<nav th:replace="~{index.html :: leftbar}">&nbsp;</nav>

<div class="recepie_area inc_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="receipe-slider owl-carousel">

            <div th:each="photo, photoStat : ${recipeViewModel.listPhotoVM}">
                <img th:src="${photo.url}" alt="" width="100%">
            </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="recepies_info">
                        <h1 th:text="|${recipeViewModel.title} |">Dragon tiger phoenix</h1>
                        <p>INGREDIENTS </p>
                        <div class="custom-control custom-checkbox" th:each="ingredient, ingrStat : ${recipeViewModel.listIngredientVM}">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" th:text="${ingredient.ingredientName}">
                            <label class="custom-control-label" for="customCheck1">
                                <span th:text="${ingredient.quantity}?: ''"></span> <a th:text="${ingredient.getUnitName()}?: ''"></a></label>
                        </div>
                        </div>
                    </div>

                        <div class="resepies_details">
                            <ul>
                                <li><p><strong>Prep.: <a th:text="|${recipeViewModel.getPreparationTime()} |"></a>h./</strong></p></li>
                                <li><p><strong>Cook: <a th:text="|${recipeViewModel.getCookingTime()} |"></a>h./</strong></p></li>
                                <li><p><strong>Yields: <a th:text="|${recipeViewModel.getServings()} |"></a>serv. </strong></p></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="recepies_text">
                        <h3>Preparation <a th:text="|${recipeViewModel.getDescription()} |"></a></h3>
                    </div>
                </div>
            </div>
    <br><br><br>


    <!--Danger Area-->
            <div class="content">
               <div class="danger-area" th:if="${canDelete}">
                   <p><a class="padded-10 border-dashed-2 danger-text"
                         th:href="@{/recipes/delete/{id}(id=${recipeViewModel.id})}">Delete</a></p>
                </div>
            </div>
    </div>

<nav th:replace="~{index.html :: rightbar}"></nav>
<nav th:replace="~{index.html :: footer}"></nav>
<!-- JAVA SCRIPT -->
<script src="/javascript/recipe-show.js"></script>

</body>
</html>